<!DOCTYPE html>
<html>
  <head>
    <% include Partials/template/head.ejs %>
  </head>
  <body>
  	<% include Partials/template/header.ejs %>
    
    <section class = "layout">
    	<div class="primary">
    		<div> This is my paragraph.</div>

    	<aside class="secondary">
    		<div>This is Secondary Section</div>
    	</aside>

    </section>

    <% include Partials/template/footer.ejs %>
    <% include Partials/template/jsdefaults.ejs %>
  </body>
</html>
