<!DOCTYPE html>
<html>
<head>

</head>
<body>
<% include ../partials/header %>
<section class = "layout">
  <div class="primary">
    <div> This is my paragraph.</div>

    <aside class="secondary">
      <div>This is Secondary Section</div>
    </aside>

</section>

</body>
</html>